@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Rancho&display=swap');
@import "tailwindcss";
@plugin "daisyui"{
    themes: light --default;
}
@plugin "daisyui/theme" {
    --color-header-primary : '#374151'
}

@theme{
    --font-raleway : "Raleway", sans-serif;
    --font-rancho: "Rancho", cursive;
}